.single-image-wrapper {
  width: 100%;
  padding: 5%;
}
.single-image img {
  border: 2px solid black;
  height: 100%;
  width: 100%;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .single-image img {
    /* margin-bottom: 50%; */
  }
}
