:root {
  --bg-color: rgb(45, 44, 49);
}
.wrapper {
  position: relative;
  background: var(--bg-color);
  padding: 20% 15%;
  color: white;
  height: 100vh;
  z-index: 2;
}
.form-container form {
  display: flex;
  flex-direction: column;
}
.form-input {
  background: var(--bg-color);
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: rgb(255, 255, 255, 0.5) 1px solid;
  color: white;
  font-size: 1em;
}
.form-input:focus {
  outline-style: none;
}
.form-container label {
  margin: 10px 0;
}
#submit-button {
  margin: 40px 0;
  font-size: 1em;
  padding: 10px 30px;
  background: rgb(230, 226, 13);
  font-weight: bold;
  border: none;
  color: rgb(136, 60, 17);
}

.logo-container {
  text-align: center;
}
#logo-sm {
  font-size: 2em;
}

.logo-container p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 2em;
  z-index: 1;
}
/* shape */
.square {
  width: 30vw;
  height: 30%;
  position: absolute;
  top: 0;
  left: 30vh;
  background: rgba(155, 128, 10, 0.4);
  z-index: -1;
}
.form-label {
  position: relative;
  font-size: 16px;
  left: 0;
  top: 35px;
  color: whitesmoke;
  transition: all 0.3s ease-out;
}

.focused {
  font-size: 0.85rem;
  color: #999;
  transform: translateY(-150%);
}
/* ------- iphone 6+, 7+, 8+ and iPhone ---------- X */
/*   Landscape  */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* shape */
  .square {
    width: 30vw;
    height: 40%;
    position: absolute;
    top: 0;
    left: 60vh;
    background: rgba(155, 128, 10, 0.4);
    z-index: -1;
  }
  .wrapper {
    padding: 7% 15%;
  }
  .subscribe-header h1 {
    font-size: 1.3em;
    text-align: center;
    margin-block-end: 0;
  }
}
