/* iPhone Portrait */
:root {
  --btn-color: #e50914;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .header {
    width: 100%;
    height: 70vh;
    position: relative;
    background: url(../Images/opera.png);
    background-position: center;
    background-size: cover;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(0, 0, 0, 0.2);
  }
  .header-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #logo {
    color: white;
    font-size: 4em;
    margin-top: 10vh;
  }
  .header-content h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 3em;
    margin-block-start: 0;
    margin-block-end: 0;
    z-index: 2;
    text-shadow: white 20px 0 50px;
  }

  .header-content p {
    font-size: 1.2em;
    line-height: 1.25;
    margin: 20px 50px;
    color: white;
    z-index: 2;
    font-family: "Volkhov", serif;
  }

  .btn {
    display: inline-block;
    background: var(--btn-color);
    color: whitesmoke;
    padding: 0.4em 1.3em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-right: 0.5em;
    outline: none;
    box-shadow: 0 1px black;
    border-radius: 2px;
    z-index: 2;
    padding: 10px 20px;
  }
  .btn:hover {
    opacity: 0.9;
    background: orange;
    color: #802200;
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .header {
    max-width: 100%;
    height: 100vh;
    position: relative;
    background: url(../Images/opera.png);
    background-position: center;
    background-size: cover;
  }
  .header-content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #logo {
    color: white;
    font-size: 4em;
    margin-top: 10vh;
  }
  .header-content h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 3em;
    margin-block-start: 0;
    margin-block-end: 0;
    z-index: 2;
    text-shadow: white 20px 0 50px;
  }
  .header-content p {
    font-size: 1.2em;
    line-height: 1.25;
    margin: 20px 50px;
    color: white;
    z-index: 2;
    font-family: "Volkhov", serif;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(0, 0, 0, 0.2);
  }
  .btn {
    display: inline-block;
    background: var(--btn-color);
    color: whitesmoke;
    padding: 0.4em 1.3em;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-right: 0.5em;
    outline: none;
    box-shadow: 0 1px black;
    border-radius: 2px;
    z-index: 2;
    padding: 10px 20px;
  }
}
