/* iPhone Portrait */
:root {
  --btn-color: #e50914;
  --overlay-gradient: linear-gradient(
    180deg,
    rgba(9, 8, 26, 0.6) 0%,
    rgba(17, 17, 18, 0.7) 0%,
    rgba(251, 251, 251, 0) 69%
  );
}

#logo {
  color: white;
  font-size: 4em;
  margin-top: 10vh;
}
.header-content h1 {
  font-family: "Dancing Script", cursive;
  color: white;
  font-weight: 700;
  font-size: 3em;
  margin-block-start: 0;
  margin-block-end: 0;
  z-index: 2;
  text-shadow: white 5px 0 20px;
}
.header-content p {
  font-size: 1.2em;
  line-height: 1.25;
  color: white;
  z-index: 2;
  font-family: "Fjalla One", sans-serif;
}
.btn {
  background: var(--btn-color);
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  border: none;
  cursor: pointer;
  box-shadow: 1px 10px 30px 10px rgb(31, 29, 29);
  border-radius: 5px;
  padding: 10px 20px;
}
.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../Images/opera.png);
  background-position: center;
  background-size: cover;
}
.header-content {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* overlay */
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: var(--overlay-gradient);
  }

  .btn:hover {
    opacity: 0.9;
    background: orange;
    color: #802200;
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .header {
    max-width: 100%;
    height: 100vh;
    position: relative;
    background: url(../Images/opera.png);
    background-position: center;
    background-size: cover;
  }
  .header-content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-content h1 {
    margin-top: 20vh;
  }
  #logo {
    position: absolute;
    color: white;
    font-size: 3em;
  }

  /* overlay */
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: var(--overlay-gradient);
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../Images/opera.png);
    background-position: center;
    background-size: contain;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgb(2, 0, 36);
    background: var(--overlay-gradient);
  }
  .header-content {
    position: relative;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: 1;
    background: rgb(0, 0, 0, 0.2);
  }
  .nav-links {
    display: none;
  }
}
/* ------ iPhone X  -------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../Images/opera.png);
    background-position: center;
    background-size: cover;
  }
  /* overlay */
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: var(--overlay-gradient);
  }
  .header-content {
    position: relative;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: var(--overlay-gradient);
  }
}

/* --- iPad --- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../Images/opera.png);
    background-position: center;
    background-size: cover;
  }
  /* overlay */
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: var(--overlay-gradient);
  }
  .header-content {
    position: relative;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  #logo {
    position: absolute;
    margin-top: -40px;
  }

  .header-content h1 {
    font-family: "Dancing Script", cursive;
    color: white;
    font-weight: 700;
    font-size: 5em;
    margin-block-start: 0;
    margin-block-end: 0;
    z-index: 2;
    text-shadow: white 5px 0 20px;
  }
  .header-content p {
    font-size: 1.8em;
  }
  .btn {
    font-size: 1.5em;
  }
}
/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}
@media screen and (min-device-width: 1600px) {
  .header {
    background-position: bottom;
  }
  #logo {
    color: white;
    font-size: 3em;
    top: 25%;
    position: absolute;
  }
  .btn {
    font-size: 0.7em;
    padding: 5px 10px;
    box-shadow: 1px 1px 20px 1px rgb(31, 29, 29);
  }
  .btn:hover {
    background-color: orange;
    color: var(--btn-color);
  }
  .header-content {
    font-size: 0.7em;
  }
}
