/* General settings */
:root {
  --name-plate: polygon(5% 10%, 10% 10%, 20% 80%, 100% 10%);
}
.headshot {
  border-radius: 50%;
  width: 60%;
}
.heading {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  padding-right: 5%;
}

.singers-wrapper {
  padding: 15%;
}
.description {
  font-family: "Baskervville", serif;
  margin-bottom: 50px;
  line-height: 1.5em;
}
.card-container {
  font-family: "Fjalla One", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.singer-name {
  font-family: "Baskervville", serif;
  text-align: center;
  z-index: 1;
  background: rgb(54, 49, 49);
  color: white;
  clip-path: var(--name-plate);
  height: 80px;
  width: 100%;
  margin-block-end: 0;
}
.description {
  font-family: "Baskervville", serif;
  width: 80%;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .singers-wrapper {
    padding: 10% 5%;
  }
  .row-container-1 {
    display: flex;

    justify-content: center;
    margin: 10% 5% 0;
  }

  .row-container-2,
  .row-container-3 {
    display: flex;
    justify-content: space-evenly;

    margin-top: 5%;
  }

  .singer-name {
    clip-path: var(--name-plate);
    height: 50px;
    width: 50%;
  }
  .headshot {
    max-width: 100%;
  }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .singers-wrapper {
    padding: 10% 5%;
  }
  .row-container-1 {
    display: flex;

    justify-content: center;
    margin: 10% 5% 0;
  }

  .row-container-2,
  .row-container-3 {
    display: flex;
    justify-content: space-evenly;

    margin-top: 5%;
  }

  .singer-name {
    clip-path: var(--name-plate);
    height: 80px;
    width: 80%;
  }
  .headshot {
    max-width: 100%;
  }

  .description {
    font-family: "Baskervville", serif;
    width: 80%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .singers-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .row-container-1 {
    display: flex;
    justify-content: center;
    margin: 10% 5% 0;
  }

  .row-container-2,
  .row-container-3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
  }
  .card-container {
    width: 40%;
  }
  .singer-name {
    clip-path: var(--name-plate);
    height: 80px;
    width: 80%;
  }
  .headshot {
    max-width: 100%;
  }

  .description {
    font-family: "Baskervville", serif;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
  .singers-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .row-container-1 {
    display: flex;
    justify-content: center;
    margin: 10% 5% 0;
  }

  .row-container-2,
  .row-container-3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
  }
  .heading {
    position: absolute;
    top: 10vw;
    left: 5vh;
  }
  .card-container {
    width: 40%;
  }
  .singer-name {
    clip-path: var(--name-plate);
    height: 80px;
    width: 80%;
  }
  .headshot {
    max-width: 100%;
  }

  .description {
    font-family: "Baskervville", serif;
  }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .singers-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .row-container-1 {
    display: flex;
    justify-content: center;
    margin: 10% 5% 0;
  }

  .row-container-2,
  .row-container-3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
  }
  .heading {
    position: absolute;
    top: 10vw;
    left: 5vh;
  }
  .card-container {
    width: 40%;
  }
  .singer-name {
    clip-path: var(--name-plate);
    height: 80px;
    width: 80%;
  }
  .headshot {
    max-width: 100%;
  }

  .description {
    font-family: "Baskervville", serif;
  }
}
@media screen and (min-device-width: 1600px) {
  .singers-wrapper {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .row-container-1 {
    display: flex;
    font-size: 0.6em;
    justify-content: center;
    margin: 10% 5% 0;
  }

  .row-container-2,
  .row-container-3 {
    display: flex;
    justify-content: space-evenly;
    font-size: 0.6em;
    margin-top: 5%;
  }
  .heading {
    position: absolute;
    top: 10vw;
    left: 5vh;
    font-size: 1em;
  }
  .card-container {
    width: 40%;
  }
  .singer-name {
    clip-path: var(--name-plate);
    height: 50px;
    width: 50%;
  }
  .headshot {
    max-width: 100%;
  }

  .description {
    font-family: "Baskervville", serif;
  }
}
