.headshot {
  border-radius: 50%;
  width: 60%;
}
.heading {
  margin-bottom: 60px;
  font-family: "Volkhov", serif;
  text-align: center;
}

.singers-wrapper {
  padding: 15%;
}
.description {
  padding: 0 10%;
  margin-bottom: 50px;
  line-height: 1.5em;
}
.card-container {
  font-family: "Volkhov", serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.singer-name {
  font-family: "Baskervville", serif;

  text-align: center;
  z-index: 1;
  background: rgb(54, 49, 49);
  color: white;
  clip-path: polygon(5% 10%, 10% 10%, 20% 80%, 100% 10%);
  height: 80px;
  width: 100%;
}
