:root {
  --heading-color: #423a3a;
}
.container {
  padding: 5% 10%;
}
.credit {
  font-style: italic;
  margin-block-start: 3px;
  margin-block-end: 0;
}
#about-img {
  border: 4px solid black;
  max-width: 100%;
  box-shadow: 30px -15px teal;
}
/* Shapes */
.container::before {
  content: "";
  width: 100vw;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(240, 68, 6, 0.3);
  transform-origin: top left;
  z-index: -1;
  transform: skewY(40deg);
}
.text::before {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  background: rgba(202, 90, 25, 0.3);
  top: 1;
  left: 0;
  transform-origin: top right;
  transform: skewY(20deg);
  z-index: -1;
}

.container h1,
.container h2 {
  color: var(--heading-color);
}
.text {
  line-height: 1.3em;
  font-size: 1.2em;
  color: black;
  font-family: "Baskervville", serif;
}

/* iPhone 6,7,8  */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .container {
    padding: 15% 10%;
  }
  .container::before {
    height: 100px;
    transform: skewY(70deg);
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .container {
    padding: 15% 10%;
  }

  .container::before {
    transform: skewY(45deg);
  }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .container {
    padding: 10% 20%;
  }

  /* shapes */
  .container::before {
    content: "";
    width: 100vw;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(240, 68, 6, 0.3);
    transform-origin: top left;
    z-index: -1;
    transform: skewY(60deg);
  }
}
/*  ----- iPhone X ------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  /* shapes */
  .container::before {
    content: "";
    width: 100vw;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(240, 68, 6, 0.3);
    transform-origin: top left;
    z-index: -1;
    transform: skewY(50deg);
  }
  .text::before {
    content: "";
    width: 100%;
    height: 200px;
    position: absolute;
    background: rgba(202, 90, 25, 0.3);
    top: 1;
    left: 0;
    transform-origin: top right;
    transform: skewY(15deg);
    z-index: -1;
  }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    padding: 15% 10%;
  }
  .text {
    font-size: 1.1em;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* shapes */
  .container::before {
    transform: skewY(50deg);
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    padding: 15% 10%;
  }
  /* shapes */
  .container::before {
    transform-origin: top left;
    transform: skewY(40deg);
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    padding: 5% 10%;
    width: 70%;
  }
}
@media only screen and (min-device-width: 1600px) {
  .container {
    display: flex;
    padding: 10% 5%;
  }
  .container h1 {
    font-size: 1.4em;
  }
  .text {
    font-size: 0.7em;
    line-height: 1.5em;
  }

  .credit {
    font-size: 0.6em;
  }
  .container::before {
    height: 30px;
    transform: skewY(40deg);
  }
  .text::before {
    height: 20%;
    transform-origin: top left;
    transform: skewY(20deg);
    z-index: -1;
  }
  .about-main-content {
    width: 60%;
    margin: 10% 5%;
  }
}
