.social-media-icons {
  margin: 5% 25%;

  padding-inline-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  list-style-type: none;
  color: white;
  z-index: 1;
  width: 25%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.icon {
  position: absolute;
  transition: ease 0.2s;
  transition-property: font-size, color;
}

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {



  i.icon:hover {
    color: orange;
    font-size: 1.5em;
  }
  .social-media-icons {
    margin: 3% 25%;
    width: 5%;
  }
}
