.social-media-icons {
  padding-inline-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  list-style-type: none;
  color: white;
  z-index: 1;
  width: 10%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.icon {
  position: absolute;
  transition: ease 0.2s;
  transition-property: font-size, color;
}
.icon:hover {
  color: orange;
  font-size: 1.5em;
}
