.date-wrapper {
  padding: 30px;
}

.info-container {
  margin-top: 30px;
}
.program-header {
  font-family: "Dancing Script", cursive;
  text-align: center;
  color: gray;
}
.main-info {
  margin-left: 30px;
}
.show-date {
  font-size: 1.2em;
  font-family: "Baskervville", serif;
}
.composer {
  font-family: "Josefin Slab", serif;
}

.opera-name {
  font-family: "Baskervville", serif;
}
.show-time {
  font-family: "Josefin Slab", serif;
}
.soloists {
  font-family: "Josefin Slab", serif;
}
.tickets-btn {
  display: inline-block;
  background: var(--btn-color);
  color: whitesmoke;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 20px 0;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
}

/* shapes */
.program-header::before {
  content: "";
  width: 100%;
  height: 700px;
  position: absolute;
  background: rgba(202, 90, 25, 0.356);
  top: 1;
  left: 0;
  transform-origin: top right;
  transform: skewY(15deg);
  z-index: -1;
}
.program-header::after {
  content: "";
  width: 100%;
  height: 600px;
  position: absolute;
  background: rgba(90, 8, 42, 0.2);
  top: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-70deg);
  z-index: -1;
}
.program-shape {
  content: "";
  width: 100%;
  height: 400px;
  position: absolute;
  background: rgba(175, 52, 14, 0.2);
  top: 1;
  left: 0;
  transform-origin: bottom left;
  transform: skewY(-80deg);
  z-index: -1;
}
