/* Global settings */

.news-wrapper {
  padding: 10%;
}

.news-wrapper a {
  font-family: "Baskervville", serif;
  color: rgb(41, 40, 40);
  text-decoration: none;
}
#news-img {
  margin-top: 5%;
  border: 4px solid black;
  width: 100%;
  box-shadow: 30px -25px teal;
}
.content,
.img-description,
.side-blurb,
.blurb,
.side-img-description,
.side-content {
  display: none;
}
.img-description {
  font-style: italic;
  margin-block-start: 3px;
  margin-block-end: 0;
}

/* Shapes */
.news-wrapper::after {
  content: "";
  width: 100vw;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(161, 16, 16, 0.432);
  transform-origin: top right;
  z-index: -1;
  transform: skewY(30deg);
}
.news-title {
  font-size: 1em;

  font-family: "Fjalla One", sans-serif;
}
.news-title::after {
  content: "";
  position: absolute;
  background-color: teal;
  border-radius: 50%;
  z-index: -1;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .news-wrapper {
    padding: 10%;
  }

  .content {
    line-height: 1.5em;
  }
  .inner {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid black;
    top: -10px;
    left: -10px;
    z-index: 10;
  }
  .item-container,
  .side-item-container {
    margin-bottom: 15%;
  }
  .item-container:nth-child(2)::after {
    content: "";
    width: 100vw;
    height: 150%;
    position: absolute;
    top: 1;
    left: 0;
    background: rgba(140, 150, 10, 0.3);
    transform-origin: bottom right;
    z-index: -1;
    transform: skewY(-20deg);
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* Shapes */
  .item-container:nth-child(2)::after {
    height: 150%;
  }
  .img-description {
    font-size: 1em;
  }
  .content {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  /* Shapes */
  .news-wrapper::after {
    content: "";
    width: 100vw;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(161, 16, 16, 0.432);
    transform-origin: top right;
    z-index: -1;
    transform: skewY(30deg);
  }
  .item-container:nth-child(2)::after {
    content: "";
    width: 100vw;
    height: 150%;
    position: absolute;
    top: 1;
    left: 0;
    background: rgba(140, 150, 10, 0.3);
    transform-origin: bottom right;
    z-index: -1;
    transform: skewY(-20deg);
  }
  .img-description {
    font-size: 1em;
  }
  .content {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .img-description {
    font-size: 1em;
  }
  .content {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .news-wrapper {
    padding: 10% 5%;
    display: flex;
  }
  .news-title::after {
    top: 30vh;
    left: -5vw;
    height: 50%;
    width: 50%;
  }
  .main-stories {
    margin-top: 10%;
  }
  #news-img {
    width: 90%;
    border: 2px solid black;
    box-shadow: 10px -10px teal;
  }
  .news-title {
    margin-right: 5%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  .news-wrapper {
    padding: 10% 5%;
    display: flex;
  }
  .news-title::after {
    top: 30vh;
    left: -10vw;
    height: 150px;
    width: 150px;
  }
  #news-img {
    width: 90%;
    border: 2px solid black;
    box-shadow: 10px -10px teal;
  }
  .news-title {
    margin-right: 5%;
  }
  .side {
    width: 40%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .side {
    width: 30%;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .news-wrapper {
    display: flex;
    padding: 10%;
  }
  .main-stories {
    margin-top: 10%;
    padding: 0 5% 10% 10%;
    width: 70%;
  }
  .item-container:nth-child(1)::after {
    content: "";
    width: 100vw;
    height: 50%;
    position: absolute;
    top: 1;
    left: 0;
    background: rgba(140, 150, 10, 0.3);
    transform-origin: top;
    z-index: -1;
    transform: skewY(-20deg);
  }
  .news-title::after {
    top: 30vh;
    left: -3vw;
    height: 150px;
    width: 150px;
  }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .news-wrapper {
    display: flex;
    padding: 10%;
  }
  .main-stories {
    margin-top: 10%;
    padding: 0 5% 10% 10%;
    width: 70%;
  }
  .item-container:nth-child(1)::after {
    content: "";
    width: 100vw;
    height: 50%;
    position: absolute;
    top: 1;
    left: 0;
    background: rgba(140, 150, 10, 0.3);
    transform-origin: top;
    z-index: -1;
    transform: skewY(-20deg);
  }
  .news-title::after {
    top: 30vh;
    left: -3vw;
    height: 150px;
    width: 150px;
  }
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}
/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .news-wrapper {
    display: flex;
    padding: 10%;
  }
  .content {
    font-size: 1.2em;
    margin-bottom: 5%;
  }
  .main-stories {
    margin-top: 10%;
    padding: 0 5% 10% 10%;
    width: 70%;
  }
  .item-container:nth-child(1)::after {
    content: "";
    width: 100vw;
    height: 50%;
    position: absolute;
    top: 1;
    left: 0;
    background: rgba(140, 150, 10, 0.3);
    transform-origin: top;
    z-index: -1;
    transform: skewY(-20deg);
  }
  .news-title::after {
    top: 30vh;
    left: -3vw;
    height: 150px;
    width: 150px;
  }
}
@media screen and (min-device-width: 1600px) {
  #news-img {
    border: 2px solid black;
    box-shadow: 10px -10px teal;
  }
  .news-wrapper {
    display: flex;
    padding: 10%;
  }
  .main-stories {
    margin-top: 10%;
    padding: 0 5% 10% 10%;
    width: 70%;
  }
  .blurb {
    color: gray;
    font-family: "Baskervville", serif;
  }
  .side {
    width: 30%;
    font-size: 0.5em;
    font-family: "Baskervville", serif;
  }
  .content,
  .img-description,
  .side-blurb,
  .side-img-description,
  .side-content {
    display: none;
  }
  .item-container:nth-child(1)::after {
    content: "";
    width: 100vw;
    height: 50%;
    position: absolute;
    top: 1;
    left: 0;
    background: rgba(140, 150, 10, 0.3);
    transform-origin: top;
    z-index: -1;
    transform: skewY(-20deg);
  }
  .news-title::after {
    top: 30vh;
    left: -3vw;
    height: 150px;
    width: 150px;
  }
}
