@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .landscape-nav-links {
    display: none;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .landscape-nav-links {
    position: absolute;
    font-weight: bold;
    font-weight: bold;
    color: whitesmoke;
    z-index: 2;
    list-style-type: none;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline-start: 0;
  }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .landscape-nav-links {
    position: absolute;
    color: whitesmoke;
    font-weight: bold;
    z-index: 2;
    list-style-type: none;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline-start: 0;
  }
}
