/* Global settings */

.landscape-nav-links {
  position: fixed;
  margin-block-start: 0;
  margin-block-end: 0;
  height: 50px;
  color: whitesmoke;
  background: rgb(20, 19, 19);
  font-weight: bold;
  z-index: 2;
  list-style-type: none;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding-inline-start: 0;
}
.landscape-nav-links a {
  color: whitesmoke;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .landscape-nav-links {
    display: none;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .landscape-nav-links {
    position: fixed;
    margin-block-start: 0;
    margin-block-end: 0;
    height: 50px;
    font-weight: bold;
    color: whitesmoke;
    background: rgb(20, 19, 19);
    z-index: 2;
    list-style-type: none;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline-start: 0;
  }
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .landscape-nav-links {
    position: fixed;
    margin-block-start: 0;
    margin-block-end: 0;
    height: 50px;
    color: whitesmoke;
    background: rgb(20, 19, 19);
    font-weight: bold;
    z-index: 2;
    list-style-type: none;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline-start: 0;
  }
  .nav-links {
    display: none;
  }
}
/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
}

/* Portrait */
@media screen and (min-device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .landscape-nav-links {
    display: none;
  }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
}
@media screen and (min-device-width: 1600px) {
  .landscape-nav-links {
    font-size: 0.5em;
    height: 30px;
  }
  .landscape-nav-links a {
    transition: color 0.3s;
    cursor: pointer;
  }
  .landscape-nav-links a:hover {
    color: gray;
  }
}
