/* for ipad and desktop */

.nav {
  position: absolute;
  z-index: 2;
}
.nav-links {
  background: #000;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  margin-block-start: 0;
}
.nav-links li {
  list-style-type: none;
  font-weight: bold;
}

.hamburger-icon {
  position: relative;
  top: 0;
  left: 20px;
}
.hamburger-icon div {
  width: 30px;
  height: 3px;
  background: rgb(226, 226, 226);
  margin: 5px;
}
