#hamburger-icon {
  position: fixed;
  padding: 20px;
  z-index: 4;
  background: rgb(20, 20, 20, 0.2);
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #hamburger-icon {
    display: none;
  }
}
/* --- iPad --- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #hamburger-icon {
    display: none;
  }
}
