.footer {
  padding-top: 2%;
  display: flex;
  background: rgb(202, 49, 49);
  color: white;
}

.col-1,
.col-2,
.sponsors {
  list-style-type: none;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-block-start: 0;
  padding-inline-start: 3%;
  flex: 0;
}
.sponsors {
  font-weight: bold;
}
.sponsors img {
  color: white;
  margin-top: 1%;
  width: 100%;
}
.social-media-footer {
  display: flex;
  padding-inline-start: 3%;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
}
