.footer {
  padding-top: 2%;
  display: flex;
  background: rgb(202, 49, 49);
  color: white;
  font-size: 0.6em;
}

.col-1,
.col-2,
.sponsors {
  list-style-type: none;
  border-right: 1px white solid;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-block-start: 0;
  padding-inline-start: 1%;
}
.sponsors {
  font-weight: bold;
}
.sponsors img {
  color: white;
  margin-top: 1%;
  width: 10%;
}
