.tickets-wrapper {
  padding: 10%;
  font-family: "Fjalla One", sans-serif;
}

:root {
  --font-color: whiteSmoke;
  --box-shadow: 5px 1px 10px 5px rgb(48, 46, 46);
}
.tickets-wrapper input {
  background-color: lightgray;
  margin-left: 20px;
  width: 30px;
}

.ticket-container {
  margin-top: 20%;
  margin-bottom: 10%;
}
.ticket-container h1 {
  font-size: 1.5em;
  margin-bottom: 10%;
}

.tickets-quantity {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: 0;
}
#place-order-btn {
  position: relative;
  background: var(--btn-color);
  color: whitesmoke;
  font-size: 1em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 20px;
}
#place-order-btn:disabled {
  background: gray;
}

#place-order-btn:focus {
  outline: none;
}

.button-div {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.added-to-cart {
  background-color: rgb(250, 175, 37);
  color: firebrick;
  margin-left: 5%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.remove-button {
  background: #000;
  margin-left: 5%;
  padding: 5px 10px;
  border: none;
  color: white;
  border-radius: 5px;
}
.added-to-cart:disabled {
  background: gray;
  color: white;
}
.remove-button:disabled {
  background: gray;
}
.cart {
  margin: 10%;
}
.cart h2 {
  padding: 10px 20px;
  border: 3px solid black;
  box-shadow: -20px 18px rgb(177, 101, 82);
}

.cart h3 {
  background-color: lightslategrey;
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 5% 10% 10%;
  clip-path: polygon(50% 10%, 0 20%, 10% 100%, 100% 0);
}

.ticket-btn-default {
  border-radius: 3px;
  margin-left: 5%;
  padding: 5px 10px;
  border: none;
  background: lightGray;
}

.image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.cropped-image-container {
  background-repeat: no-repeat;
  background-position: left;
  clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
  height: 35vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.show-info {
  color: var(--font-color);
  margin-bottom: 20%;
}

.inner_opera-name {
  font-family: "Baskervville", serif;
  font-size: 1.5em;
}
.inner_composer {
  font-family: "Dancing Script", cursive;
}
.inner_show-date,
.inner_show-time {
  font-family: "Fjalla One", sans-serif;
  margin-block-end: 0;
  margin-block-start: 0;
}
.image-overlay::after {
  content: "";
  width: 30vw;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  background: #e50914d3;
  transform-origin: bottom left;
  transform: skewY(-80deg);
}

.animation-box {
  margin: 0 auto;
}
.tooltip-add {
  animation-name: topFadeOut;
  font-family: "Fjalla One", sans-serif;
  animation-duration: 2.3s;
  opacity: 0;
  background: darkslategray;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
}
.tooltip-remove {
  animation-name: bottomFadeOut;
  font-family: "Fjalla One", sans-serif;
  animation-duration: 2s;
  opacity: 0;
  background: darkred;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  box-shadow: var(--box-shadow);
}
.thank-you-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20% 5%;
}
.thank-you-wrapper h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 3em;
  margin-block-start: 0;
}
.thank-you-wrapper p {
  font-size: 1.1em;
}
.thank-you-wrapper a,
.thank-you-wrapper a:visited {
  color: maroon;
}

#thank-you-logo {
  font-size: 3em;
  text-align: center;
}

@keyframes topFadeOut {
  0% {
    position: absolute;
    top: 50%;
    opacity: 0;
  }

  60% {
    top: 20%;
    opacity: 1;
  }

  75% {
    position: absolute;
    top: 25%;
    opacity: 1;
  }

  85% {
    opacity: 0;
    top: 5%;
  }
}

@keyframes bottomFadeOut {
  0% {
    position: absolute;
    top: 10%;
    opacity: 0;
  }
  60% {
    top: 30%;
    opacity: 1;
  }

  75% {
    position: absolute;
    top: 30%;
    opacity: 1;
  }

  85% {
    top: 50%;
    opacity: 0;
  }
}
@media screen and (min-device-width: 1600px) {
  .tickets-wrapper {
    padding: 5% 10%;
    height: 100vh;
  }
  .show-info {
    margin-bottom: 5%;
  }
  /* .ticket-container {
    font-size: 0.7em;
    text-align: center;
  } */
  .ticket-container h1 {
    margin-bottom: 0;
  }
  /* .cart,
  .show-info {
    font-size: 0.5em;
  } */
  .cart {
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
  .cart h2 {
    font-size: 1.2em;
    padding: 5px 10px;
    text-align: center;
    box-shadow: -20px 10px rgb(177, 101, 82);
  }
  .cart h3 {
    margin: 20px 0;
    height: 60px;
  }
  .cart p {
    font-size: 1.5em;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .added-to-cart,
  .remove-button {
    margin-left: 10px;
    cursor: pointer;
  }
  .added-to-cart:focus,
  .remove-button:focus {
    outline: none;
    background-color: gray;
    color: white;
  }
  .button-div {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }
  #place-order-btn {
    font-size: 1em;
    border-radius: 5px;
    padding: 5px 10px;
    width: 30%;
  }

  /* .tooltip-add,
  .tooltip-remove {
    font-size: 0.5em;
  } */
  .thank-you-wrapper {
    padding: 10%;
  }
  /* .thank-you-wrapper p {
    font-size: 0.8em;
  } */
  .cropped-image-container {
    background-position: center;
    margin-bottom: 5%;
    background-size: cover;
  }
}
